Checks: "
  bugprone-*,
  -bugprone-branch-clone,
  -bugprone-easily-swappable-parameters,
  -bugprone-reserved-identifier,
  -bugprone-unhandled-exception-at-new,
  
  -clang-diagnostic-reserved-macro-identifier,
  clang-analyzer-*,
  concurrency-*,
  
  cppcoreguidelines-*,
  -cppcoreguidelines-avoid-c-arrays,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -cppcoreguidelines-non-private-member-variables-in-classes,
  -cppcoreguidelines-owning-memory,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -cppcoreguidelines-pro-type-union-access,
  -cppcoreguidelines-pro-type-vararg,
  
  google-*,
  -google-explicit-constructor,
  -google-readability-braces-around-statements,
  
  hicpp-*,
  -hicpp-avoid-c-arrays,
  -hicpp-braces-around-statements,
  -hicpp-explicit-conversions,
  -hicpp-named-parameter,
  -hicpp-no-array-decay,
  -hicpp-signed-bitwise,
  -hicpp-vararg,
  
  misc-*,
  -misc-non-private-member-variables-in-classes,
  
  modernize-*,
  -modernize-avoid-bind,
  -modernize-avoid-c-arrays,
  -modernize-use-default-member-init,
  -modernize-use-trailing-return-type,
  
  performance-*,
  
  readability-*,
  -readability-braces-around-statements,
  -readability-convert-member-functions-to-static,
  -readability-identifier-length,
  -readability-magic-numbers,
  
  -cert-err58-cpp
  "